shell/vs_2013/Debug/
Debug/vc120.idb
Debug/6502.tlog/link.read.1.tlog
Debug/6502.tlog/
6502.opensdf
6502.sdf
shell/vs_2013/shell.sdf
shell/vs_2013/shell.opensdf
6502_Test/Debug/
6502_Test/6502_Test.opensdf
6502_Test/6502_Test.sdf
6502_Test/6502_Test.VC.db
6502.VC.db
6502_Test/6502_Test.VC.VC.opendb
AC64/AC64.VC.db
AC64/AC64.VC.VC.opendb
UnitTests/6502_Test.VC.db
